<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="verticalNavBar" class="d-flex flex-column bg-light p-3" style="width: 250px;">
    <a href="#" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <span class="fs-5 fw-semibold">Navigation</span>
    </a>
    <ul class="nav flex-column">
        <li class="nav-item mb-2">
            <a class="nav-link active" href="/home">Home</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" href="/services">Services</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" href="/contact">Contact</a>
        </li>
    </ul>
</div>
</body>
</html>
